<br>
<div class="tekstike2 textmargin"> 
  <div class="rowmargin"> 
      <span style="font-weight: 700">Tasuvuse suhtarvud</span>
    </div>
  </div>
<br><br>
<div class="tekstike2 textmargin"> 
  <div class="rowmargin">
    Tasuvuse ehk rentaabluse ehk kasumlikkuse suhtarvud (profitability ratios) mõõdavad seda, kui efektiivselt ettevõte suudab oma vara kasutada ning kulusid kontrolli all hoida, et tagada oodatav tulusus.
  </div>
</div>
<br><br>
<div class="tekstike2 textmargin"> 
  <div> <span style="font-weight: 700">Käibe ärirentaablus </span> (<em>operating margin</em>) näitab, kui palju teenis ettevõte kasumit oma põhitegevusest.
  </div>
</div>
<br>
<div class="eq-c">
  Käibe ärirentaablus =
   <div class="fraction">
   <span class="fup">Ärikasum</span>
   <span class="bar">/</span>
   <span class="fdn">Müügitulu</span>
   </div>
</div><br>
<div class="tekstike2 textmargin"> 
  <div> <span style="font-weight: 700">Käibe puhasrentaablus </span> ehk puhaskasumimarginaal (<em>profit margin, net margin, net profit margin</em>) näitab ettevõtte kasumlikkust ehk seda, kui palju kasumit teenitakse ühe euro käibe kohta. See näitab ühtlasi, kui mõistlik on ettevõtte hinnapoliitika ning kui hästi kontrollitakse kulusid. Eri ettevõtete puhaskasumimarginaal ei ole eriti hästi võrreldav, kuna iga ettevõtte kulude struktuur on erinev.
  </div>
</div>
<br>
<div class="eq-c">
  Käibe puhasrentaablus =
   <div class="fraction">
   <span class="fup">Puhaskasum</span>
   <span class="bar">/</span>
   <span class="fdn">Müügitulu</span>
   </div>
</div>
<br>
<div class="tekstike2 textmargin"> 
  <div> <span style="font-weight: 700">Varade ehk kogukapitali puhasrentaablus </span>(<em>return on assets — ROA</em>) näitab ettevõtte varade kasutamise efektiivsust puhaskasumi teenimiseks ehk seda, kui palju kasumit teenib iga ettevõtte varasse investeeritud euro. Selleks kasutatakse järgmist valemit (DuPonti valem):
  </div>
</div>
<br>
<div class="eq-c">
  Varade puhasrentabblus (ROA) = Puhaskasumimarginal × Varade käibekordaja =

  
   <div class="fraction">
   <span class="fup">Puhaskasum</span>
   <span class="bar">/</span>
   <span class="fdn">Müügitulu</span>
   </div>
   x
   <div class="fraction">
    <span class="fup">Müügitulu</span>
    <span class="bar">/</span>
    <span class="fdn">Varad</span>
    </div>
    =
  
    
<div class="fraction">
      <span class="fup">Puhaskasum</span>
      <span class="bar">/</span>
      <span class="fdn">Varad</span>
</div>
  
</div>


<br>
  <div class="tekstike2 textmargin"> 
    <div class="rowmargin">
      ROA leidmiseks jagatakse enamasti kasumiaruande kirje „Puhaskasum“ bilansi kirjega „Varad (aktiva) kokku“. DuPonti valem võimaldab analüüsida ka kasumlikkust (mida väljendab puhaskasumimarginaal) ning varade kasutamise efektiivsust (mida väljendab varade käibekordaja).
    </div>
  </div>
  <br><br>
  <div class="tekstike2 textmargin"> 
    <div> <span style="font-weight: 700">Omakapitali tootlus ehk puhasrentaablus  </span>(<em>return on equity — ROE</em>) näitab ettevõttesse investeeritud omakapitali kasutamise efektiivsust puhaskasumi teenimiseks st seda, kui palju kasumit teenib iga ettevõtte omakapitali investeeritud euro. DuPonti valem jagab omakapitali tootluse kolmeks komponendiks: kasumlikkus, vara kasutamise efektiivsus ning finantsvõimendus. ROE on leitav järgmise valemiga:
    </div>
  </div>
  <br>
  <div class="eq-c">
    Omakapitali puhasrentaablus (ROE) = Puhaskasumimarginaal × Varade käibekordaja × Finanstvõimendus =
    </div><br>
    <div class="eq-c"> 
      = ROA x 
      <div class="fraction">
      <span class="fup">Varad</span>
      <span class="bar">/</span>
      <span class="fdn">Omakapital</span>
      </div>
      
      =
            
   <div class="fraction">
         <span class="fup">Puhaskasum</span>
         <span class="bar">/</span>
         <span class="fdn">Varad</span>
   </div>
     </div><br>
     <div class="tekstike2 textmargin"> 
      <div class="rowmargin">
        ROE leidmiseks jagatakse enamasti kasumiaruande kirje „Puhaskasum“ bilansi kirjega „Omakapital kokku“. DuPonti analüüs võimaldab aktsepteeritava omakapitali tootluse saavutamiseks eristada kolme liiki ettevõtteid:
      </div>
    </div>
    <div class="tekstike2 textmargin"> 
      <div class="rowmargin"> 
      
      <ul>
      <li>kõrge kasumimarginaaliga ettevõtteid (näiteks moetööstus, tarkvaraarendus, luksuskaupade turustamine),</li>
      <li>kõrge käibega ettevõtteid (näiteks jaekaubandus) ning</li>
      <li>suure finantsvõimendusega ettevõtteid (näiteks pangandus).</li>
      </ul>
      </div>
    </div>
    <br>