<br>
<div class="tekstike2 textmargin"> 
  <div class="rowmargin"> 
      <span style="font-weight: 700">Maksevõime suhtarvud</span>
    </div>
  </div>
<br><br> 

<div class="tekstike2 textmargin"> 
<div class="rowmargin"> 
    Ettevõtte likviidsuse ehk maksevõime all mõistetakse ettevõtte võimet katta tähtaegselt oma lühiajalisi kohustisi. Maksevõime hindamiseks kasutatakse enamasti lühiajalise võlgnevuse kattekordajat ning maksevõime kordajat, lisaks ka rahakordajat. 
  </div>
</div>
<br><br>

  <div class="tekstike2 textmargin">
    <span style="font-weight: 700">Lühiajaliste kohustuste kattekordaja </span> (<em>current ratio; working capital ratio</em>) kajastab ettevõtte võimet katta võlausaldajate lühiajalised nõuded käibevaraga.
  </div><br>
  
   <div class="eq-c">
    Lühiajaliste kohustuste kattekordaja =
     <div class="fraction">
     <span class="fup">Käibevara</span>
     <span class="bar">/</span>
     <span class="fdn">Lühiajalised kohustused</span>
     </div>
    </div> <br>
  <div class="tekstike2 textmargin"> 
  <div class="rowmargin">
     Üldiselt peetakse heaks, kui kordaja jääb vahemikku 1,5 kuni 2 – sel juhul on ettevõtte lühiajaline finantsseisund hea. Liiga kõrge kordaja väärtus (kattekordaja on > 2) viitab asjaolule, et ettevõte ei kasuta oma käibevara tõhusalt. Kui aga lühiajalised kohustused ületavad käibevara (kattekordaja on < 1), võib ettevõttel esineda probleeme lühiajaliste kohustiste täitmisega ehk teisisõnu, ettevõte võib sattuda makseraskustesse. Teisalt ei pruugi see veel tähendada suuri probleeme, kui kohustisi on võimalik täita pikemaajaliste väljavaadete arvelt.
  </div>
</div>
<br><br>
<div class="tekstike2 textmargin"><span style="font-weight: 700">Maksevõimekordaja </span>(<em>quick ratio; acid-test ratio</em>) näitab ettevõtte suutlikust likviidse varaga üheaegselt kõik lühiajalised kohustised kohe tasuda.
</div><br>
<div class="eq-c">
  Maksevõimekordaja =
   <div class="fraction">
   <span class="fup">Raha+Likviidsed väärtpaberid+Laekumata arved</span>
   <span class="bar">/</span>
   <span class="fdn">Lühiajalised kohustused</span>
   </div>
</div><br>
<div class="tekstike2 textmargin"> 
<div class="rowmargin">
    Kõikide võlgnevuste tasumiseks korraga peab ettevõtte maksevõime kordaja olema 1 või suurem. Oluline on tähele panna, et kordaja sisaldab ka laekumata arveid. Näiteks kui ettevõttel on hulk pika maksetähtajaga laekumata arveid ning samaaegselt on kohustuste tähtaeg lühike, siis maksevõime kordajast probleemi ei ilmne, kuigi tegelikult saab ettevõttel kohe raha otsa. Samas, kui klientide maksetähtajad on lühikesed ning tarnijatel pikad, siis ei pruugi madal kordaja automaatselt tähendada probleeme maksevõimega.
</div>
</div>
<br><br>
<div class="tekstike2 textmargin"><span style="font-weight: 700">Rahakordaja </span>(<em>cash ratio</em>) näitab ettevõtte võimet tasuda kohe saabuva tähtajaga kohustusi.
</div><br>
<div class="eq-c">
  Rahakordaja =
   <div class="fraction">
   <span class="fup">Raha+Likviidsed väärtpaberid</span>
   <span class="bar">/</span>
   <span class="fdn">Lühiajalised kohustused</span>
   </div>
</div><br>
  <div class="tekstike2 textmargin"> 
    <div class="rowmargin">
      Lisaks ülaltoodule võib hinnata ka muu käibevara ja lühiajaliste kohustuste suhet (nt varude või debitoorse võlgnevuse suhet lühiajalistesse kohustustesse). See, millised suhtarvud on kõige sobivamad, sõltub konkreetse ettevõtte tegevusalast.
  </div>
</div>
<br><br>