<br>
<div class="tekstike2 textmargin"> 
  <div class="rowmargin"> 
      <span style="font-weight: 700">Efektiivsuse suhtarvud</span>
    </div>
  </div>
<br><br> 
<div class="tekstike2 textmargin"> 
<div class="rowmargin">
  Efektiivsuse suhtarvud näitavad ettevõtte vara kasutamise efektiivsust. Põhiliselt kasutatakse kolme efektiivsuse suhtarvu: varade käibekordaja, lühiajalise võlgnevuse käibekordaja ja varude käibekordaja.
  </div>
 </div>
 <br><br>
 <div class="tekstike2 textmargin"> 
<div><span style="font-weight: 700">Vara käibesagedus</span> (<em>asset turnover</em>) või ka koguvara käive näitab, kui efektiivselt kasutab ettevõte oma vara. Mida suurem see näitaja on, seda efektiivsemalt varasid kasutatakse.
  </div>
 </div> <br>
 <div class="eq-c">
  Vara käibesagedus =
   <div class="fraction">
   <span class="fup">Müügitulu</span>
   <span class="bar">/</span>
   <span class="fdn">Keskmine vara</span>
   </div>
</div><br>

  <div class="tekstike2 textmargin"> 
    <div class="rowmargin">
      Müügitulu (<em>net sales</em>) võetakse vaadeldava aruandeperioodi kasumiaruandest. Keskmine vara on vaadeldava ajavahemiku keskmine koguvara, mille võib leida näiteks perioodi alguse ja lõpu bilansside koguvara jagamisel kahega. Reeglina on kõrge kasumimarginaaliga ettevõtetel madal varade käibekordaja ning madala kasumimarginaaliga ettevõtetel kõrge varade käibekordaja.
    </div>
  </div>
  <br><br>
  <div class="tekstike2 textmargin"> 
    <div> <span style="font-weight: 700">Lühiajalise võlgnevuse käibekordaja</span> (<em>receivables turnover</em>) või ka debitoorse võlgnevuse käibekordaja näitab, kui suure osa ettevõtte aastasest netokäibest moodustab deebitoride debitoorne võlgnevus (ostjate laekumata arved) ehk mitu korda toimub aruandeperioodi jooksul debitoorse võlgnevuse tasumine deebitoride poolt.
    </div>
  </div><br>
  <div class="eq-c">
    Lühiajalise võlgnevuse käibekordaja =
     <div class="fraction">
     <span class="fup">Müügitulu</span>
     <span class="bar">/</span>
     <span class="fdn">Keskmine debitoorne võlgnevus</span>
     </div>
  </div> <br>
  <div class="tekstike2 textmargin"> 
    <div> <span style="font-weight: 700">Varude käibesagedus </span> (<em>inventory turnover ratio</em>) ehk käibekordaja näitab kauba või materjalivarude kasutamise efektiivsust. Mida suurem on varude käibesagedus, seda efektiivemalt ja kiiremini kasutatakse varusid ja varudesse investeeritud raha hulk ei ole väga suur.
    </div>
  </div><br>
  <div class="eq-c">
    Varude käibesagedus =
     <div class="fraction">
     <span class="fup">Müügitulu</span>
     <span class="bar">/</span>
     <span class="fdn">Keskmised varud</span>
     </div>
  </div>
  <br>